body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.quiz-container {
    margin: 100px auto;
    padding: 20px;
    max-width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    outline:none;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    outline:none;
}

button:hover {
    background-color: #218838;
}
button:focus {
    outline: #28a745 2px solid;
    outline-offset: 2px;
}
